.page-wrapper {
    position: relative;
}

.flex-container {
    position: absolute;
    right: 1rem;

    display: flex;
    flex-direction: row;
    align-content: flex-start;
    justify-content: flex-end;
    gap: 50px;
}

/*.card-container-content {
    OVERLOADED NAME
}*/

.card-container-creators {

}
